#container{
  width:800px;
  height:500px;
  border:1px solid gray;
  margin: auto;
}

#image-slider-wrapper{
  overflow: hidden;
  
}

#image_slider{
  position: relative;
  height: 500px;
}

li{
  max-width: 100%;
  float:left;
  list-style: none;
}

.nav{
  position:absolute;
  top: 200px;
  height: 50px;
  width: 30px;
  opacity: 0.6;
}
.nav:hover{
  opacity: 0.9;
}

#prev{
  background: #000 url('./image/prev.png') no-repeat center;
  left: 283px;
}

#next{
  background: #000 url('./image/next.png') no-repeat center;
  right:282px;
}

