
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.float{
	float: left;
}
.r_box{
	height: 300px;
	width: 300px;
	background-color: red;
}

.g_box{
	height: 300px;
	width: 300px;
	background-color: green;
}

.b_box{
	height: 300px;
	width: 300px;
	background-color: blue;

}

.y_box{
	height: 300px;
	width: 300px;
	background-color: yellow;
}