.container{
  width: 100%;
}

/* "container" All header wrapper including best travel text */
.header-wrapper{
  width: 100%;
  position: relative;

}

/* "header-wrapper" */
.bg-mountain{
  width: 100%;
}

/* "header-wrapper" Set this 100% */
.title-and-search{
  width: 100%;
  top: 17px;
  left: 0px;
  position: absolute;
}

.title{
  width: 83%;
}

.title-image{
  width: 22.679127%;
  margin-left: 550px;
}

.search-and-cart{
  width: 17%;
  padding-top: 15px;
}

.search-and-cart img{
  width: 30%;
  padding-right: 38px;
}

/*"header-wrapper" upper part of header includes title, tabs and 'for a trip' text */
.header-and-mountains{
  width: 76.302083%;
  margin: 0px auto;
  top: 137px;
  left: 161px;
  position: absolute;
  padding-top: 10px; 
}

/* .header-and-mountains */
.nav-and-trip{
  
}


/* "nav-and-trip" */
.nav-bar{
  width: 75%;
  margin: 0px auto;
}

.nav-bar ul li a{
  padding: 0px 35px;
  text-decoration: none;
  text-decoration-color: black;
}


/* "nav-and-trip" */
.find-need{
  display: block;
  top: 74px;
  left: 280px;
  position: absolute;
}

/* "nav-and-trip" */
.for-a-trip{
  display: block;
  top: 100px;
  left: 162px;
  position: absolute;
}

.mountain1{
  top: 185px;
  left: 117px;
  position: absolute;
}

.mountain2{
  top: 100px;
  left: 587px;
  position: absolute;
}


/* "header-wrapper" widthh= 1920 px */
.best-travel-wrapper{
  width: 76.302083%;
  margin: 0px auto;
  top: 726px;
  left: 164px;
  position: absolute;
}

.best-travel-div{
  width: 50%;
}

/* "best-travel-wrapper" */
.best-travel{
  padding-bottom: 18px;
}

/* "best-travel-wrapper" */
.accessories{
  padding-bottom: 33px;
}

/* "best-travel-wrapper" */
.plain-text{
  padding-bottom: 5px;
}

/* "best-travel-wrapper" */
.viewall-btn{
  padding-top: 40px;
}

/* "viewall-btn" */
.viewall-btn button{
  width: 42%;
  line-height: 63px;
}

/* "best-travel-div" */
.best-travel-div span{
display: block;
}


/* ".header-wrapper" */
.backpackers{
  top: 170px;
  left: 790px;
  position: absolute;
}

/* CSS for body */

/* "container" */
.body-wrapper{
  width: 76.302083%;
  margin: 0px auto;
  top: 985px;
  left: 165px;
  position: absolute;
  margin-top: 204px;
}


/* "body-wrapper" */
.new-arrivals-div{
  width: 100%;
  margin: 0px auto;
}

/* "new-arrivals" */
.description1{
  width: 56.58%;
  margin: 0px auto;
  padding-bottom: 33px;
}

/* "description1" */
.description1-title{
  width: 63.93%;
  margin: 0px auto;
  padding-bottom: 22px;
}

/* "description1" */
.description1-text{
  width: 100%;
  margin: 0px auto;
  padding-bottom: 39px;
}

/* "description1" */
.description1-subtitle{
  width: 59.65%;
  margin: 0px auto;
}

/* CSS for luggage grid */

/* "bag-grid" */
.bag-grid{
  width: 100%;
}

.bag-div-upper{
  width: 98.29%;
  margin: 0px auto;
  padding-bottom: 75px;
}

.upper-list, .lower-list{
  width: 100%;
}

.inner-list{
  width: 100%;
}

.corner-bag1{
  width: 17%;
  padding-left: 20px;
}


.corner-bag2{
  width: 22%;
}

.middle-bag{
  width: 61%;
}

.corner-bag1-lower{
  width: 20%;
}

.middle-bag-lower{
  width: 36%;
  padding-left: 165px;
}

.corner-bag2-lower{
  width: 44%;
  padding-left: 145px;
}

.description-wrapper1{
  width: 100%;
  padding-left: 8px;
  padding-top: 20px;
}

.description-wrapper1-middle{
  width: 36%;
  padding-left: 8px;
  margin: 0px auto;
  padding-top: 20px;
}

.description-wrapper2{
  width: 86%;
  padding-left: 31px;
  padding-top: 20px;
}

.description-wrapper2-middle{
  width: 107%;
  padding-left: 8px;
  margin: 0px auto;
  padding-top: 20px;
}

.price-and-cart-wrapper1{
  width: 56%;
  padding-left: 8px;
  margin: 0px auto;
}

.price-and-cart-wrapper1 span img{
  padding-left: 8px;
  padding-top: 8px;
}

.price-and-cart-wrapper1-middle span img{
  padding-left: 8px;
  padding-top: 8px;
}

.price-and-cart-wrapper1-middle{
  width: 20%;
  padding-left: 8px;
  margin: 0px auto;
}

.price-and-cart-wrapper2{
  width: 50%;
  padding-left: 25px;
  margin: 0px auto;
}

.price-and-cart-wrapper2 span img{
  padding-left: 8px;
  padding-top: 8px;
}

.price-and-cart-wrapper2-middle span img{
  padding-left: 8px;
  padding-top: 8px;
}

.price-and-cart-wrapper2-middle{
  width: 43%;
  padding-left: 8px;
  margin: 0px auto;
}


.bag-div-lower{
  width: 98.29%;
  margin: 0px auto;
  padding-bottom: 75px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

